<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
</head>
<body>
      <div class="-container" align="center">
           <div class="jumbotron">
                    <h1>Welcome to TECH JOB PORTAL!</h1>
                     <a class="btn btn-primary btn-lg" href="hydjobs/" role="button">Hyderabad Job Information</a>&nbsp&nbsp&nbsp
                     <a class="btn btn-primary btn-lg" href="punejobs/" role="button">Pune Job Infomation</a>&nbsp&nbsp&nbsp
                     <a class="btn btn-primary btn-lg" href="banglorejobs/" role="button">Banglore job  Infomation</a>

           </div>
      </div>


</body>
</html>